<ion-view view-title="ConnectJS" cache-view="false">
  <ion-content class="padding">
    <br>
    <div class="row">
      <div class="col col-33 text-center"><a href="#/tab/general"><img class="button button-clear" src="img/icons/Info-50.png"></a><br><a class="calm">General</a></div>
      <div class="col col-33 text-center"><a class="button button-clear" href="#/tab/schedule" ><img src="img/icons/Calendar-50.png"></a></a><br><a class="calm">Schedule</a></div>
      <div class="col col-33 text-center"><a href="#/tab/map"><img class="button button-clear" src="img/icons/waypoint.png"></a><br><a class="calm">Map</a></div>
    </div>
    <br>
    <div class="row">
      <div class="col col-33 text-center"><a href="#/tab/alerts"><img class="button button-clear" src="img/icons/alert.png"></a><br><a class="calm">Alerts</a></div>
      <div class="col col-33 text-center"><a href="#/tab/speakers"><img class="button button-clear" src="img/icons/voice.png"></a><br><a class="calm">Speakers</a></div>
      <div class="col text-center"><a href="#/tab/twitter"><img class="button button-clear" src="img/icons/Twitter-50.png"></a><br><a class="calm">Twitter</a></div>
    </div>
    <br>
    <div class="row">
      <div class="col text-center"><a href="#/tab/networking"><img class="button button-clear" src="img/icons/Contacts-50.png"></a><br><a class="calm">Networking</a></div>
    </div>
    <br>

    <!--<div class="row">
      <div class="col text-center"><a href="#/tab/twitter"><img class="button button-clear" src="img/icons/Twitter-50.png"></a><br><a class="calm">Twitter</a></div>
    </div>
  -->
    <!--
    <div class="list card">
      <div class="item item-divider item-calm">Alerts!</div>
      <div class="item item-body">
        <div>
          {{dash.alert.notificationmessage}}
        </div>
      </div>
    </div>
    -->
  </ion-content>
</ion-view>
