<ion-view view-title="General Info">
  <ion-content>
    <div class="list card">

  <div class="item item-image">
    <img src="templates/icons/splash.png">
  </div>

  <a class="item item-icon-left calm" href="#">
    <i class="icon ion-map"></i>
    Location: Cobb Galleria Center
  </a>
  <a class="item item-icon-left calm" href="#">
    <i class="icon ion-ios-location"></i>
    2 Galleria Pkwy SE, Atlanta, GA 30339
  </a>
  <a class="item item-icon-left calm" href="#">
    <i class="icon ion-calendar"></i>
    October 16-17
  </a>

  </a>
  <div class="item item-body">
    <p>
      ConnectJS is a low-cost community driven developer conference that focuses on bringing in experts from around the world.
      We are bringing in recognized and skilled individuals to help you learn about topics like AngularJS, React.JS, Testing JavaScript, Advanced JavaScript,
      Enterprise JavaScript, Cross-platform Mobile Development with Phonegap & Ionic, Server-side JavaScript, Design/UI/UX,
      Rails, PHP, and more.
    </p>
  </div>

</div>
</ion-content>
</ion-view>
