<ion-view title="Networking">
  <ion-content class="has-header">

    <div class="list card">

      <div class="item item-image">
        <qrcode ng-if="foo" class="item item-image"  version="21" error-correction-level="{{e}}" size="200" data="{{foo}}"></qrcode>
      </div>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Enter Name.
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number.
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-email"></i>
        Enter Email.
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-people"></i>
        Enter your Company.
      </a>

    </div>
</ion-content>
  </ion-view>
